@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;700&display=swap");

* {
  font-family: "Anek Telugu", sans-serif;
}

h1 {
  margin-left: 4rem;
}

.image-container {
  width: 100%;
  display: flex;
}
img {
  box-shadow: rgba(0,0,0,0.5) 10px 5px 5px;
  margin: auto;
}

p {
  padding: 0rem 10rem;
  margin: 4rem 4rem 0rem;
}