.gallery{
    scroll-snap-align:start ; 
    height: 100vh;
    width: 100vw;
    background-color: #242424;
    background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: flex-start;
}
.gallery > h1{
    color: var(--primary);
    text-decoration: underline 10px var(--highligth);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 4px;
    position: relative;
   
}
.gallery > .gallery_container{
    
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(6, calc(100%/6));
    grid-template-rows: repeat(6,12vh);
    grid-gap: 1rem;
}

.gallery > .gallery_container > div{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.gallery > .gallery_container > .photo1{
    grid-column: 1/4;
    grid-row: 1/5;
} 

.gallery > .gallery_container > .photo2{
    grid-column: 4/7;
    grid-row: 1/4;
    
} 
.gallery > .gallery_container > .photo3{
    grid-column: 4/7;
    grid-row: 4/7;
    
} 
.gallery > .gallery_container > .photo4{
    grid-column: 1/4;
    grid-row: 5/7;
} 

