.news_container{
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    background-color: #20313bab;
    background-attachment:scroll;
    background-image: url("https://res.cloudinary.com/do7bnejaz/image/upload/v1674566157/shadow_of_mordor_website/imagen_pano_mtm7oi.jpg");
    
    background-size: cover;
    background-blend-mode:darken;
    overflow: hidden;
}
 .news_container > div{
    
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display:inline-flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
}

.news_container > div > h1{
    padding: 2rem;
    color: var(--primary);
    text-decoration:underline 10px var(--highligth);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4px;
    position: relative;
    bottom: 15rem;
}
.news_container >div > section{
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.news_container > div > section > article{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.news_container >div > section > article:hover{
    background-color: rgba(0, 0, 0, 0.505);
}
.news_container > div > section > article > h2{
    width: 40vw;
    text-transform:uppercase;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bolder;
    text-align: justify;
    letter-spacing: 4px;
    text-shadow: -2px 2px 5px rgba(13, 14, 15, 0.84);
}
.news_container > div > section > article > p{
    padding: 2rem;
    width: 40rem;
    display: flex;
    color: var(--primary);
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}