
.video{
    overflow: hidden;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid var(--primary);
}
.video > div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    letter-spacing: 0.4px;
    line-height: 25.6px;
    text-align: center;
}

.video > div > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    line-height: 80px;
}
.video > div > button{
    background: none;
    border: solid var(--primary) 1.6px;    
}

.video > div > button > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 20px;
    margin: 0 5px 2px 0;
    letter-spacing: 3.9px; 
    gap: 2rem;
    font-size: 20px;
}

.play{
    width: 20px;
    filter: invert(100);  
}
video{
   width: 100%;
   z-index: -1;
    
}