*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flexbox;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;   
  }
  
.header {
    display: flex;
    height: 11vh;
    background: darkmagenta;
    color: white;
    font-size: 32px;
    font-weight: 900;
    justify-content: left;
    text-indent: 16px;
    align-items: center;
    gap: 5px;
  }
  

.main{
    display: flex;
    flex-direction: row;
    height: 81vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background: rgb(253, 253, 253);

      }
    .sidebar {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5px;
    width: 300px;
    background: royalblue;
    }
        .sidebar ul li{
            list-style-type: none;
        }
        .sidebar ul a {
            text-decoration: none;
            font-size: 24px;
            color: white;
        }
        .literature{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;
            width:80%;
            background-color: white;
            gap: 5px;
            padding: 10px;
        }
            .card {
                padding: 32px;
                height: 40%;
                width: 28%;
                border: 1px solid rgb(11, 9, 9);
                box-shadow: 2px 4px 16px rgba(0,0,0,.06);
                border-radius: 4px;
                font-size: medium;
                
            }

.footer {
    display: flex;
    align-items:flex-end;
    height: 8vh;
    width: 100%;
    background: #eee;
    color: darkmagenta;
    text-align: center;
    justify-content: center;
    }